.homeWrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  flex-direction: row;
  margin: 2%;
  justify-content: center;
  align-items: center;
  background: none;
  /* height: 12vh; */
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px 10px 30px 10px;
}

@media screen and (max-width: 600px) {
  .logo {
    margin: 15% 5% 7% 5%;
  }
  .logoImg {
    width: 75%;
  }
}

.navButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px 25px 5px;
}

.bodyWrapper {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  flex-direction: column;
  gap: 30px;
  background: rgba(154, 70, 169, 0.492);
  background: linear-gradient(
    -25deg,
    rgb(255, 233, 247) 12%,
    rgb(238, 226, 255) 48%,
    rgb(234, 217, 238) 83%
  );
}

.firstHalf {
  height: 38vh;
  margin: 2%;
  background: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.firstHalfDash {
  height: 38vh;
  margin: 2%;
  background: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.secondHalf {
  height: 50vh;
  margin: 2%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 50%;
  background: none;
  border-radius: 10px;
}
.secondHalfDash {
  height: 32vh;
  margin: 2%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: none;
  border-radius: 10px;
}

.createParty {
  color: white;
  height: 13%;
  padding: 0 15px 0 15px;
  border-radius: 10px;
  border: none;
  font-size: 130%;
  background-color: rgb(152, 152, 255);
}

.logButton {
  color: white;
  font-weight: 00;
  letter-spacing: 3px;
  padding: 10px 30px 10px 30px;
  border-radius: 30px;
  border: none;
  font-size: 90%;
  background: rgb(129, 57, 209);
  background: linear-gradient(
    90deg,
    rgba(129, 57, 209, 1) 0%,
    rgba(223, 145, 243, 1) 100%
  );
  margin: 15px;
}

.slogan {
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.infoApp {
  gap: 7px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}