.homeWrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  flex-direction: row;
  margin: 2%;
  width: 95vw;
  justify-content: space-between;
  background-color: beige;
  height: 12%;
  border-radius: 10px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5% 0 5%;
  width: 50%;
  height: 100%;
}

.navButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5% 0 5%;
}

.bodyWrapper {
  height: 84vh;
}

ul.list {
  margin: 0;
}

.firstHalf {
  height: 50%;
  width: 95vw;
  margin: 2%;
  background: rgba(154, 70, 169, 0.492);
  background: linear-gradient(
    -45deg,
    rgb(202, 118, 174) 0%,
    rgb(130, 74, 202) 65%,
    rgb(161, 87, 210) 83%
  );
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.secondHalf {
  height: 50%;
  width: 95vw;
  margin: 2%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 50%;
  background: rgb(237, 130, 255);
  background: linear-gradient(
    -330deg,
    rgba(237, 130, 255, 1) 0%,
    rgba(144, 97, 207, 1) 65%,
    rgba(134, 87, 210, 1) 83%
  );
  border-radius: 10px;
}

.logoImg {
  width: 100%;
}

.createParty {
  color: white;
  height: 13%;
  border-radius: 10px;
  border: none;
  font-size: 130%;
  background-color: rgb(152, 152, 255);
}
