.homeWrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  flex-direction: row;
  margin: 2%;
  justify-content: space-between;
  background-color: beige;
  /* height: 12vh; */
  border-radius: 10px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5% 0 5%;
  width: 50%;
}

.navButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5% 0 5%;
}

.bodyWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(154, 70, 169, 0.492);
  background: linear-gradient(
    -45deg,
    rgb(202, 118, 174) 0%,
    rgb(130, 74, 202) 65%,
    rgb(161, 87, 210) 83%
  );
}

ul.list {
  margin: 0;
}

.firstHalf {
  height: 38vh;
  margin: 2%;
  background: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.secondHalf {
  height: 50vh;
  margin: 2%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 50%;
  background: none;
  border-radius: 10px;
}

.logoImg {
  width: 100%;
}

.createParty {
  color: white;
  height: 13%;
  padding: 0 15px 0 15px;
  border-radius: 10px;
  border: none;
  font-size: 130%;
  background-color: rgb(152, 152, 255);
}

.logButton {
  color: white;
  padding: 15px;
  border-radius: 10px;
  border: none;
  font-size: 130%;
  background-color: rgb(152, 152, 255);
  margin: 15px;
}